<% layout('layout') %>

<!-- -- -- -- -- -- -- --
    Project Detail Page 
<!-- -- -- -- -- -- -- -->

<section id="projects" class="projects-page project-detail-page">
    <div class="proj-banner proj-cate-banner" style="background-image: url('<%= projectObj.image %>');">
        <div class="proj-title-container title-container">
            <h2 class="proj-header proj-cate-header"><%= projectObj.name %></h2>
        </div>
    </div>

    <div class="project-main">

        <!-- PROJECT DETAILS -->
        <%- partial('../../blocks/project-details', {projectObj: projectObj}) %>  

        <!-- PROJECT QUOTE -->
        <div class="quote-block">
            <p>
                <svg class="icon icon-quotation-left"><use xlink:href="#icon-quotation-left"></use></svg>
                <%= projectObj.quote %>
                <svg class="icon icon-quotation-right"><use xlink:href="#icon-quotation-right"></use></svg>
            </p>
        </div>

        <!-- PROJECTS SLIDER -->
        <%- partial('../../blocks/projects-slider', {projectObj: projectObj, projects: projects}) %>  

    </div>
</section>