<% layout('layout') %>

<!-- -- -- -- -- -- -- --
    Project Detail Page 
<!-- -- -- -- -- -- -- -->

<section id="projects" class="projects-page project-detail-page">
    <div class="proj-banner proj-cate-banner" style="background-image: url('<%= projectObj.image %>');">
        <div class="proj-title-container title-container">
            <h2 class="proj-header proj-cate-header"><%= projectObj.name %></h2>
        </div>
    </div>

    <div class="project-main">

        <div class="details">
            <dl>
                <dt>Project</dt>
                <dd><%= projectObj.name %></dd>

                <dt>Client</dt>
                <dd><%= projectObj.client %></dd>

                <dt>Completion Date</dt>
                <dd><%= projectObj.date_completed.toDateString() %></dd>
            </dl>
            <dl>
                <dt>Highlights</dt>
                <dd>
                    <p class="highlights"><%= projectObj.highlight %></p>
                </dd>
            </dl>
        </div>

        <div class="quote-block">
            <p>
                <svg class="icon icon-quotation-left"><use xlink:href="#icon-quotation-left"></use></svg>
                <%= projectObj.quote %>
                <svg class="icon icon-quotation-right"><use xlink:href="#icon-quotation-right"></use></svg>
            </p>
        </div>

        <div class="project-slider-wrap">
            <h3 class="slider-title">More <%= projectObj.industry %> projects</h3>
            <!-- <div class="swipe-msg">Swipe to view</div> -->
            <svg class="icon icon-swipe-icon"><use xlink:href="#icon-swipe-icon"></use></svg>
            <div class="project-slider">
                <% projects.forEach(project => { %>
                    <% if(project.name === projectObj.name) return %> <!-- Removes the current project from list  -->
                    <div class="project-slide" style="background-image: url('<%= project.image %>');">
                        <a href="<%= project.url %>#projects" class="slide-inner-wrap">
                            <h2><%= project.name %></h2>
                        </a>
                    </div>
                <% })  %>
            </div>
        </div>

    </div>
</section>