
<div class="banner <%= landing ? 'landing':'pages shrink' %>">
    
    <a class="logo-a-wrap <%= landing ? '':'shrink' %>" href="/">
        <div class="logo-svg-wrap">
            <% include ../icons/bbm-icon %>
        </div>
    </a>
    
    <div class="burger-btn">
        <div class="burger-icon"></div>
    </div>
    
    <div class="banner-backdrop"></div>
    
    <nav class="main-nav" role="navigation">
        <ul>
            <li class="home <%= landing ? 'active':'' %>">
                <a href="/">HOME</a>
            </li>
            <li class="who-we-are <%= path === 'who-we-are' ? 'active':'' %>">
                <a href="/who-we-are">WHO WE ARE</a>
            </li>
            <li class="BIM <%= path === 'BIM' ? 'active':'' %>">
                <a href="/BIM">BIM</a>
            </li>
            <li class="projects <%= path === 'projects' ? 'active':'' %>">
                <a href="/projects">PROJECTS</a>
            </li>
            <li class="trust-respect <%= path === 'trust-respect' ? 'active':'' %>">
                <a href="/trust-respect">TRUST & RESPECT</a>
            </li>
            <li class="contact-us <%= path === 'contact-us' ? 'active':'' %>">
                <a href="/contact-us">CONTACT</a>
            </li>
        </ul>
    </nav>

</div>

    
<% if (landing) { %>
    <% include slideshow %>
    <svg class="icon icon-trowel-outline"><use xlink:href="#icon-trowel-outline"></use></svg>
<% } %>